.heading{
    width: 100%;
    text-align: left;
    }
    
    h1{
        display: inline;
        font-size: 30px;
    }
    
    #InstructionsBTN{
        float: right;
        border: 2px solid white; 
    }
    
    body{
        font-family: 'Cabin', sans-serif;
    }

    #startBTN, #status{
        border: 2px solid rgb(0, 0, 0);
        font-size: 20px;
    }